.main-content {
  margin-top: 100px;
}

.main-content section {
  float: left;
  width: 50%;
}

.main-content section h1 {
  margin-bottom: 48px;
}

.main-content section form div {
  margin-bottom: 24px;
}

.main-content section form div label {
  width: calc(50% - 8px);
}

.main-content section form div label:first-of-type {
  margin-right: 16px;
}

.main-content section form label {
  display: inline-block;
  font-size: 18px;
  padding-bottom: 4px;
  width: 100%;
}

.main-content section form input {
  padding: 4px 8px;
  height: 60px;
  width: calc(50% - 8px);
}

.main-content section form input:first-of-type {
  margin-right: 16px;
}

.main-content section form textarea {
  padding: 4px 8px;
  resize: vertical;
  width: 100%;
  height: 180px;
}

.main-content section form input, .main-content section form textarea {
  border: none;
  border-bottom: 2px solid #3c3c42;
  color: white;
  font-size: 20px;
  background-color: #3c3c42;
}

.main-content section form input:focus, .main-content section form textarea:focus {
  outline: none;
  border-bottom: 2px solid #c00e4d;
}

.main-content section form button {
  border: none;
  margin-top: 16px;
  width: 100%;
  cursor: pointer;
}

.main-content section form button:focus {
  outline: none;
}

.main-content aside {
  float: left;
  width: 50%;
}

.main-content aside h2, .main-content aside a {
  margin-left: 120px;
}

.main-content aside h2 {
  color: #60606a;
}

.main-content aside h2:nth-of-type(2) {
  margin-bottom: 18px;
}

.main-content aside a {
  font-size: 28px;
}

.main-content aside a p {
  display: inline;
}

.main-content aside img {
  display: block;
  margin: 32px 15% 0 auto;
  max-width: 50%;
}

@media only screen and (max-width: 1280px) {
  .main-content aside h2, .main-content aside a {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 1124px) {
  .main-content aside a p {
    margin-left: 50px;
    display: block;
  }
  .main-content aside h2, .main-content aside a {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-content section {
    width: 60%;
    margin-right: 30px;
  }
  .main-content aside {
    width: 30%;
    margin-right: 20px;
  }
  .main-content aside a p {
    margin-left: 0;
  }
  .main-content aside h2, .main-content aside a {
    margin-left: 0;
  }
  .main-content aside img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    margin-top: 70px;
  }
  .main-content section {
    clear: both;
    width: 100%;
  }
  .main-content aside {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 80px;
  }
  .main-content aside h2 {
    display: inline;
    font-size: 22px;
  }
  .main-content aside h2:first-of-type::after {
    content: ' ';
  }
  .main-content aside a {
    display: block;
    margin-top: 8px;
  }
  .main-content aside a p {
    display: inline;
  }
  .main-content aside img {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .main-content section h1 {
    padding-left: 16px;
  }
  .main-content section form br {
    display: none;
  }
  .main-content section form label {
    padding-left: 16px;
  }
  .main-content section form label, .main-content section form input {
    display: block;
    width: 100%;
  }
  .main-content section form input {
    margin-bottom: 20px;
  }
  .main-content section form input:first-of-type {
    margin-bottom: 45px;
  }
  .main-content section form div label:last-of-type {
    position: absolute;
    margin-top: 81px;
  }
  .main-content aside {
    padding-left: 16px;
  }
  .main-content aside a p {
    display: block;
  }
}

@media only screen and (max-width: 360px) {
  .main-content aside a {
    word-break: break-all;
  }
}

/*IE10+ CSS here*/
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header {
    margin-bottom: 100px;
  }
}

@media only screen and (-ms-high-contrast: none) and (max-width: 768px), only screen and (-ms-high-contrast: active) and (max-width: 768px) {
  header {
    margin-bottom: 70px;
  }
}
/*# sourceMappingURL=contact.module.css.map */