$background-color: rgb(40, 40, 52);
$pink: rgb(192, 14, 77);
$dark-gray: rgb(96, 96, 106);
$darker-gray: rgb(60, 60, 66);
$light-gray: rgb(178, 178, 178);
$lighter-gray: rgb(200, 200, 200);
$success: rgb(5, 117, 56);
$error: rgb(195, 25, 25);