@import '../../style/variables';

.main-content {
    margin-top: 70px;

    section {
        float: left;
        width: 32%;
        padding-left: 25px;

        article {
            margin-top: 32px;

            h2 {
                margin-bottom: 16px;
                width: 90%;
            }

            div.git-link {
                height: 70px;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 60px;
                    margin-right: 16px;
                }

                a {
                    display: inline-block;
                    vertical-align: top;
                    line-height: 60px;
                    font-size: 20px;
                    color: $pink;

                    &:hover {
                        color: $pink;
                    }
                }
            }

            .svg-div {
                position: relative;
                right: 0;
                width: 330px;
                height: 250px;
                margin-top: 16px;

                img {
                    width: 330px;
                    margin-top: 14px;
                }
            }
        }
    }

    aside {
        float: left;
        width: calc(68% - 42px);
        margin-left: 42px;

        div {
            a {
                background-color: $background-color;
                display: inline-block;
                width: 355px;
                height: 272px;
                margin: 0 24px 20px 0;
                outline: none;
                
                &.coming-soon p {
                    opacity: 0;
                }

                p {
                    background-color: $pink;
                    line-height: 50px;
                    text-align: center;
                }

                img {
                    height: 222px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .main-content {
        section {
            width: 100%;
            clear: both;
    
            article {
                margin-top: 12px;
                margin-bottom: 32px;
    
                h2 {
                    display: inline;
                    line-height: 70px;
                    vertical-align: middle;
                }
    
                div.git-link {
                    display: inline-block;
                    margin-left: 16px;

                    img {
                        margin-right: 12px;
                    }
                }
            
                .svg-div {
                    display: none;
                }
            }
        }
    
        aside {
            width: 100%;
            margin: 0;
    
            div {
                text-align: center;

                a {
                    width: 430px;
                    height: 300px;

                    &:nth-child(2),
                    &:last-child {
                        margin-right: 0;
                    }
    
                    p {
                        line-height: 50px;
                    }
    
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .main-content section article {
        h2 {
            line-height: 32px;
        }

        div.git-link {
            display: block;
            margin-top: 6px;
        }
    }
}

@media only screen and (max-width: 960px) {
    .main-content aside div a {
        width: 330px;
        height: 250px;

        img {
            height: 200px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-content aside div a {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 76%;
        margin: 0 0 36px;
        
        img {
            position: absolute;
            height: calc(100% - 50px);
            bottom: 0;
            left: 0;
        }
    }
}

@media only screen and (max-width: 520px) {
    main {
        padding: 0;
        
        &.main-content section {
            padding-right: 24px;
        }
    }
}

/*IE10+ CSS here*/
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    header {
        margin-bottom: 70px;
    }
}