@import '../../style/variables';

.main-content {
    margin-top: 100px;

    section {
        &:first-of-type {
            h1 {
                padding-bottom: 20px;
            }

            h3 {
                font-weight: normal;
                width: 58%;
            }

            .article-wrapper {
                margin: 52px 0;

                article {
                    display: inline-block;
                    vertical-align: top;
                    height: 220px;
                    width: calc(60% - 42px);
                    padding: 32px 32px 26px;
                    background-color: rgba($light-gray, 0.2);

                    &:first-of-type {
                        margin-right: 42px;
                        width: 40%;
                    }

                    h2 {
                        padding-bottom: 12px;
                    }

                    ul {
                        padding-left: 32px;

                        li {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        &:last-of-type {
            a, h2 {
                display: inline-block;
                margin-right: 32px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .main-content section:first-of-type h3 {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .main-content section:first-of-type h3 {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .main-content {
        margin-top: 70px;

        section {
            &:first-of-type {
                h1 {
                    width: 70%;
                }

                h3 {
                    width: 90%;
                }
            }

            &:last-of-type {
                padding-bottom: 80px;

                a, h2 {
                    margin-right: 16px;
                }

                a:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .main-content {
        section {
            &:first-of-type {
                h3 {
                    width: 100%;
                }

                .article-wrapper {
                    margin: 48px 0;
    
                    article {
                        display: block;
                        width: 100%;
    
                        &:first-of-type {
                            margin-right: 0;
                            margin-bottom: 24px;
                            width: 100%;
                        }
                    }
                }
            }

            &:last-of-type {
                text-align: center;

                a, h2 {
                    margin: 0 12px;
                }

                h2 {
                    display: block;
                    margin-bottom: 32px;
                }
            }
        }
    }
}

@media only screen and (max-width: 495px) {
    .main-content section:last-of-type a {
        margin: 0 16px 16px;

        &:last-of-type {
           margin-right: 16px;
        }
    }
}

@media only screen and (max-width: 360px) {
    .main-content {
        section {
            &:first-of-type .article-wrapper article {
                height: 300px;
            }

            &:last-of-type a {
                margin-right: 0;
                margin-left: 0;

                &:last-of-type {
                    margin-right: 0;
                 }
            }
        }
    }
}