main {
    columns: 2;

    section {
        article {
            h4 {

            }
    
            a {
                &:nth-child(3) {
                    margin-right: 16px;
                }
    
            }
        }
    }

    aside {
        img {
            max-width: 100%;
        }
    }
}