@import '../style/variables';

.main-content {
    margin-top: 150px;

    section {
        float: left;
        width: 50%;
        padding-left: 48px;

        h1 {
            width: 320px;
            margin-bottom: 20px;
        }

        article {
            h2 {
                margin: 8px 0;
                color: $light-gray;

                &:last-of-type {
                    font-size: 18px;
                }
            }

            a {
                margin-top: 32px;

                &:nth-child(3) {
                    margin-right: 16px;
                }
            }
        }
    }

    aside {
        float: left;
        width: 50%;
        padding-left: 40px;

        img {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-content {
        margin-top: 70px;
        
        section {
            width: 100%;
            padding-left: 48px;
            padding-bottom: 80px;

            h1 {
                width: 80%;
            }
        }

        aside {
            display: none;
        }
    }
}

@media only screen and (max-width: 520px) {
    .main-content section {
        padding-left: 32px;
    }
}

@media only screen and (max-width: 480px) {
    .main-content section article a {
        //margin: 24px calc((100% - 232px) / 2) 0;
        margin: 24px 0 0 -16px;
        width: 100%;
    }
}

@media only screen and (max-width: 280px) {
    .main-content section h1 {
        font-size: 30px;
    }
}


/*IE10+ CSS here*/
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    header {
        margin-bottom: 150px;
    }

    @media only screen and (max-width: 768px) {
        header {
            margin-bottom: 70px;
        }
    }
}