@import '../style/variables';

.main-content {
    margin-top: 150px;

    section {
        float: left;
        width: 50%;

        h1 {
            width: 300px;
            margin-bottom: 20px;
        }

        article {
            h2 {
                margin: 8px 0;

                &:last-of-type {
                    font-size: 18px;
                }
            }

            a {
                margin-top: 32px;

                &:nth-child(3) {
                    margin-right: 16px;
                }
            }
        }
    }

    aside {
        float: left;
        width: 50%;
        padding-left: 40px;

        img {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-content {
        section {
            width: 100%;
            padding-left: 48px;
            padding-bottom: 80px;

            h1 {
                width: 80%;
            }
        }

        aside {
            display: none;
        }
    }
}

@media only screen and (max-width: 520px) {
    .main-content {
        margin-top: 70px;
    
        section {
            padding-left: 16px;
        }
    }
}