@import '../style/variables';

.main-content {
    background-color: paleturquoise;
    columns: 2;
    margin-top: 150px;

    section {
        .heading-1 {
            width: 300px;
            margin-bottom: 24px;
        }

        article {
            .heading-3 {
                margin: 8px 0;

                &:last-of-type {
                    font-size: 18px;
                }
            }

            a {
                margin-top: 32px;

                &:nth-child(3) {
                    margin-right: 16px;
                }
    
            }
        }
    }

    aside {
        img {
            max-width: 100%;
        }
    }
}